<ion-content class="sfondo">
  <p class="titolo">
    <ion-header>
      <ion-title>
        iFame
      </ion-title>
    </ion-header>
  </p>

  <ion-row>
    <ion-grid>
      <ion-col align-self-center class="pos-bottoni">
        <ion-button [routerLink]="['/login']" expand="block" color="danger">Accedi</ion-button>

        <span class="divider line one-line">o </span>

        <span class="already">Non sei registrato?</span>
        <ion-button [routerLink]="['/scelta-utente']" expand="block" color="primary">Registrati</ion-button>
      </ion-col>
    </ion-grid>
  </ion-row>
</ion-content>